* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  /* height: auto; */
  padding-bottom: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}


.utils{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.app.dark {
  background-color: rgb(68, 68, 68);
}

.board-wrap{
  /* border: 1px solid black; */
  padding: 20px 0;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  /* border: 3px solid salmon; */
  border-radius: 5px;
  padding: 1px;
  /* box-shadow: 0px -4px 25px 4px rgba(0, 255, 255, 0.7),
    1px 2px 4px 0px rgba(0, 255, 255, 0.7),
    2px 4px 8px 0px rgba(0, 255, 255, 0.7),
    2px 4px 16px 0px rgba(0, 255, 255, 0.7); */
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  backdrop-filter: blur(30px);
  background-color: #6179939b;
}

.white {
  background-color: #a0a8ba80;
}

.selected {
  -webkit-box-shadow: inset 0px 0px 20px 5px rgba(26, 255, 8, 0.6);
  box-shadow: inset 0px 0px 20px 5px rgba(26, 255, 8, 0.6);
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #22c022;
}

.current-player {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 22px;
}


.timer-wrap {
  margin-right: 50px;
  /* border: 1px solid cyan; */
  padding: 15px;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.27);
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.6);
}

.timer-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-btn {
  margin-bottom: 50px;
  display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;

  -webkit-box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.6);
}

.timer-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out;
}

.players-timer-wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.players-timer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
}

.figures-wrap {
  -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.6);
  border-radius: 8%;
  position: relative;
  width: 250px;
}

.figures-wrap::before {
  /* content: "🤷‍♀️ 😊 😂 🤣 ❤ 😍 😒  👌 😘💕 😁 👍 🙌 🤦‍♀️ 🤦‍♂️ 🤷‍♂️ ✌ 🤞 😉😎 🎶 😢 💖 😜 👏 💋🌹 🎉 🎉 🎂 🤳 🐱‍👤 🐱‍🏍🐱‍💻 🐱‍🐉 🐱‍👓 🐱‍🚀 ✔ 👀 😃 ✨ 😆 🤔 🤢 🎁 🤷‍♀️ 😊 😂 🤣 ❤ 😍 😒  👌 😘💕 😁 👍 🙌 🤦‍♀️ 🤦‍♂️ 🤷‍♂️ ✌ 🤞 😉😎 🎶 😢 💖 😜 👏 💋🌹 🎉 🎉 🎂 🤳 🐱‍👤 🐱‍🏍🐱‍💻 🐱‍🐉 🐱‍👓 🐱‍🚀 ✔ 👀 😃 ✨ 😆 🤔 🤢 🎁 🤷‍♀️ 😊 😂 🤣 ❤ 😍 😒  👌 😘💕 😁 👍 🙌 🤦‍♀️ 🤦‍♂️ 🤷‍♂️ ✌ 🤞 😉😎 🎶 😢 💖 😜 👏 💋🌹 🎉 🎉 🎂 🤳 🐱‍👤 🐱‍🏍🐱‍💻 🐱‍🐉 🐱‍👓 🐱‍🚀 ✔ 👀 😃 ✨ 😆 🤔 🤢 🎁 🤷‍♀️ 😊 😂 🤣 ❤ 😍 😒  👌 😘💕 😁 👍 🙌 🤦‍♀️ 🤦‍♂️ 🤷‍♂️ ✌ 🤞 😉😎 🎶 😢 💖 😜 👏 💋🌹 🎉 🎉 🎂 🤳 🐱‍👤 🐱‍🏍🐱‍💻 🐱‍🐉 🐱‍👓 🐱‍🚀 ✔ 👀 😃 ✨ 😆 🤔 🤢 🎁 🤷‍♀️ 😊 😂 🤣 ❤ 😍 😒  👌 😘💕 😁 👍 🙌 🤦‍♀️ 🤦‍♂️ 🤷‍♂️ ✌ 🤞 😉😎 🎶 😢 💖 😜 👏 💋🌹 🎉 🎉 🎂 🤳 🐱‍👤 🐱‍🏍🐱‍💻 🐱‍🐉 🐱‍👓 🐱‍🚀 ✔ 👀 😃 ✨ 😆 🤔 🤢 🎁  🎂 🤳 🐱‍👤 🐱‍🏍🐱‍💻 🐱‍🐉 🐱‍👓 🐱‍🚀 ✔ 👀 😃 ✨ 😆 🤔 🤢 🎁 🎂 🤳 🐱‍👤 🐱‍🏍🐱‍💻 🐱 ✔  😎 🎶 😢 💖 😜 👏 💋🌹"; */
  color: #000000;
  position: absolute;
  padding: 3px;
  width: 100%;
  height: 100%;
  border-radius: 8%;
  
}


 @media only screen and (max-width: 1500px) {
    .board{
      width: calc(48px * 8);
      height: calc(48px * 8);
      display: flex;
      flex-wrap: wrap;
      /* border: 3px solid salmon; */
      border-radius: 5px;
      padding: 1px;
    }

    .cell{
      width: 48px;
      height: 48px;
    }

    .cell img{
      width: 36px;
      height:  36px;
    }

    .available{
      width: 8px;
      height:  8px;
    }
} 

@media only screen and (max-width: 992px) {
  .app{
    padding-bottom: 100%;
  }


  .figures-wrap::before {
  content: "🤷‍♀️ 😊 😂 🤣 ❤ 😍 😒  👌 😘💕 😁 👍 🙌 🤦‍♀️ 🤦‍♂️ 🤷‍♂️ ✌ 🤞 😉😎 🎶 😢 💖 😜 👏 💋🌹 🎉 🎉 🎂 🤳 🐱‍👤 🐱‍🏍🐱‍💻 🐱‍🐉 🐱‍👓 🐱‍🚀 ✔ 👀 😃 ✨ 😆 🤔 🤢 🎁 🤷‍♀️ 😊 😂 🤣 ❤ 😍 😒  👌 😘💕 😁 👍 🙌 🤦‍♀️ 🤦‍♂️ 🤷‍♂️ ✌ 🤞 😉😎 🎶 😢 💖 😜 👏 💋🌹 🎉 🎉 🎂 🤳 🐱‍👤 🐱‍🏍🐱‍💻 🐱‍🐉 🐱‍👓 🐱‍🚀 ✔ 👀 😃 ✨ 😆 🤔 🤢 🎁 🤷‍♀️ 😊 😂 🤣 ❤ 😍 😒  👌 😘💕 😁 👍 🙌 🤦‍♀️ 🤦‍♂️ 🤷‍♂️ ✌ 🤞 😉😎 🎶 😢 💖 😜 👏 💋🌹 🎉 🎉 🎂 🤳 🐱‍👤 🐱‍🏍🐱‍💻 🐱‍🐉 🐱‍👓 🐱‍🚀 ✔ 👀 😃 ✨ 😆 🤔 🤢 🎁 🤷‍♀️ 😊 😂 🤣 ❤ 😍 😒  👌 😘💕 😁 👍 🙌 🤦‍♀️ 🤦‍♂️ 🤷‍♂️ ✌ 🤞 😉😎 🎶 😢 💖 😜 👏 💋🌹 🎉 🎉 🎂 🤳 🐱‍👤 🐱‍🏍🐱‍💻 🐱‍🐉 🐱‍👓 🐱‍🚀 ✔ 👀 😃 ✨ 😆 🤔 🤢 🎁 🤷‍♀️ 😊 😂 🤣 ❤ 😍 😒  👌 😘💕 😁 👍 🙌 🤦‍♀️ 🤦‍♂️ 🤷‍♂️ ✌ 🤞 😉😎 🎶 😢 💖 😜 👏 💋🌹 🎉 🎉 🎂 🤳 🐱‍👤 🐱‍🏍🐱‍💻 🐱‍🐉 🐱‍👓 🐱‍🚀 ✔ 👀 😃 ✨ 😆 🤔 🤢 🎁  🎂 🤳 🐱‍👤 🐱‍🏍🐱‍💻 🐱‍🐉 🐱‍👓 🐱‍🚀 ✔ ";
  }
}

@media only screen and (max-width: 600px) {
  .board-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .board{
    width: calc(42px * 8);
    height: calc(42px * 8);
    display: flex;
    flex-wrap: wrap;
    /* border: 3px solid salmon; */
    border-radius: 5px;
    padding: 1px;
  }

  .cell{
    width: 42px;
    height: 42px;
  }

  .cell img{
    width: 30px;
    height: 30px;
  }


 /* basic sizes */

  .app{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 70%;
    overflow-y: hidden;
  }

  .utils{
    display: flex;
    margin-bottom: 20px;
  }

  .timer-wrap{
    margin: 0;
    order: 0;
    padding: 5px;
    margin: 10px;
    width: auto;
  }

  .timer-btn{
    width: max-content ;
    font-size: 12px;
    padding: 5px 10px;
    color: black;
    margin: 5px 0 15px 0;
  }

  .board-wrap{
    order: 3;
  }

  .figures-wrap{
    flex-direction: row;
    margin: 0;
    order: 2;
    margin: 10px;
    width: 100%;
    min-height: 50px;
  }
  .figures-wrap::before {
  content: "🤷‍♀️ 😊 😂 🤣 ❤ 😍 😒  👌 😘💕 😁 👍 🙌 🤦‍♀️ 🤦‍♂️ 🤷‍♂️ ✌";
  }

  .lost{
    min-height: 50px;
    max-height: 50px;
    height: 50px;
    padding: 10px;
    margin: 0;
  }

}


.lost {
  /* height: calc(50vh - 200px); */
  padding: 10px 40px;
  height: 150px;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

.lost:nth-child(odd) {
  border-radius: 15px 15px 0 0;
}

.lost:nth-child(even) {
  border-radius: 0 0 15px 15px;
}

.lost-title{
  margin-bottom: 15px;
  text-align: center;
  
}

.lost-figure {
  display: inline-block;
  margin: 0 2px;
}