* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(251, 218, 218); */
    background-color: rgb(68, 68, 68);
  
  }

.app.dark{
  background-color: rgb(68, 68, 68);
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
    /* border: 3px solid salmon; */
    border-radius: 5px;
    padding: 1px;
    box-shadow: 0px 0px 16px 10px rgba(0,255,255,0.7),
    1px 2px 4px 0px rgba(0,255,255,0.7),
    2px 4px 8px 0px rgba(0,255,255,0.7),
    2px 4px 16px 0px rgba(0,255,255,0.7);
}
.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}
.black {
    background-color: #617993;
}
.white {
    background-color: #A0A8BA;
}

.selected {
    background-color: brown;
}
.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #22c022;
}

.current-player{
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 22px;
}

.lost {
    height: calc(50vh - 200px);
    padding: 30px;
    margin-left: 50px;
    background-color: lightgray;
}

.timer-wrap{
  margin-right: 50px;
}

.timer-btn-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-btn{
  padding: 5px 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.lost-figure{
  display: inline-block;
  margin: 0 2px;
}